@model IEnumerable<MusicCollection.Models.Album>
<style>
    h1 {
        font-family: "Jaini", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Jaini", system-ui;
        font-weight: 400;
        font-style: normal;
    }
</style>

@{
    var albumsByCategory = Model.GroupBy(a => a.Category.Name);
    ViewBag.Title = Model.FirstOrDefault()?.Category?.Name;
}

<h1>@Model.FirstOrDefault()?.Category?.Name</h1>

<div>
    <table>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    <img src="@album.Poster" class="imgbtn" height="200" width="200" alt="@album.Title" onclick="showEnlargedImage('@album.Poster')" />
                </td>
                <td>
                    <h2>@album.Title</h2>
                    <!-- Zmiana na wyświetlanie wielu artystów -->
                    <h4>
                        @foreach (var artistAlbum in album.ArtistAlbums)
                        {
                            <span>@artistAlbum.Artist.Name</span>
                            @if (artistAlbum != album.ArtistAlbums.Last())
                            {
                                <span>x </span> <!-- Dodaj przecinek, jeśli to nie ostatni element -->
                            }
                        }
                    </h4>

                    <ul class="list-group bg-transparent list-group-light" style="border: none;">
                        <li class="list-group-item bg-transparent" style="border: none; z-index: -1;"><b>Typ: </b>@album.Type.Name</li>
                        <li class="list-group-item bg-transparent" style="border: none; z-index: -1;"><b>Rok wydania: </b>@album.PublishDate</li>
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>