@model ArtistOrGroupLists

@{
    ViewBag.Title = "Szukaj";
}

<style>
    h2 {
        font-family: "Jaini", system-ui;
        font-weight: 400;
        font-style: normal;
    }
</style>

<div style="text-align:center;">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.TextBox("text", null, new { @class = "textbox", placeholder = "Wyszukaj..." })
        <a href="#" class="dropbtn" onclick="submitForm()"><i style="font-size:24px" class="fa">&#xf002;</i></a>
    }
</div>

@if (Model.ArtistsAndGroups.Any())
{
    <h2>Znalezieni artyści i grupy:</h2>
    <ul>
        @foreach (var result in Model.ArtistsAndGroups)
        {
            if (result.IsGroup)
            {
                <li>
                    <a href="@Url.Action("GroupAlbums", "Home", new { groupName = result.Name })" class="dropbtn">@result.Name</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("ArtistAlbums", "Home", new { artistName = result.Name })" class="dropbtn">@result.Name</a>
                </li>
            }
        }
    </ul>
}

@if (Model.Albums.Any())
{
    <div>
        <h2>Znalezione albumy</h2>
        <table>
            @foreach (var album in Model.Albums)
            {
                <tr>
                    <td>
                        <img src="@album.Poster" class="imgbtn" height="200" width="200" alt="@album.Title" onclick="showEnlargedImage('@album.Poster')" />
                    </td>
                    <td>
                        <h2>@album.Title</h2>

                        <p>
                            <b>Artyści: </b>
                            @if (album.ArtistAlbums.Any(a => !string.IsNullOrEmpty(a.GroupName)))
                            {
                                <span>@album.ArtistAlbums.First(a => !string.IsNullOrEmpty(a.GroupName)).GroupName</span>
                            }
                            else
                            {
                                @foreach (var artistAlbum in album.ArtistAlbums)
                                {
                                    <span>@artistAlbum.Artist.Name</span>
                                    @if (artistAlbum != album.ArtistAlbums.Last())
                                    {
                                        <span>, </span>
                                    }
                                }
                            }
                        </p>

                        <ul class="list-group bg-transparent list-group-light" style="border: none;">
                            <li class="list-group-item bg-transparent" style="border: none; z-index: -1;"><b>Typ: </b>@album.Type.Name</li>
                            <li class="list-group-item bg-transparent" style="border: none; z-index: -1;"><b>Gatunek: </b>@album.Category.Name</li>
                            <li class="list-group-item bg-transparent" style="border: none; z-index: -1;"><b>Rok wydania: </b>@album.PublishDate</li>
                        </ul>
                    </td>
                </tr>
            }
        </table>
    </div>
}

<script>
    function submitForm() {
        document.getElementById("searchForm").submit();
    }
</script>
