<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jaini&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar_normal">
<nav class="menu navbar" style="position:relative;">
    <div style="width:60%; display:inline-block; margin-bottom:1rem;">
            <a class="dropbtn" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a>
            <div class="dropdown">
                <a class="dropbtn">Artyści</a>
                <div class="dropdown-content">
                    @foreach (var item in (IEnumerable<MusicCollection.Models.ArtistOrGroup>)ViewData["Artists"])
                    {
                        if (item.IsGroup)
                        {
                            <!-- Link dla grup -->
                            <a class="menu-link" href="@Url.Action("GroupAlbums", "Home", new { groupName = item.Name })">
                                @item.Name
                            </a>
                        }
                        else
                        {
                            <!-- Link dla artystów -->
                            <a class="menu-link" href="@Url.Action("ArtistAlbums", "Home", new { artistName = item.Name })">
                                @item.Name
                            </a>
                        }
                    }
                </div>
            </div>

        <div class="dropdown">
            <a class="dropbtn">Typy</a>
            <div class="dropdown-content">
                @foreach (var type in (IEnumerable<MusicCollection.Models.Type>)ViewData["Types"])
                {
                    <a class="menu-link" href="@Url.Action("TypeAlbums", "Home", new { typeName = type.Name })">@type.Name</a>
                }
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn">Gatunki</a>
            <div class="dropdown-content">
                @foreach (var category in (IEnumerable<MusicCollection.Models.Category>)ViewData["Categories"])
                {
                    <a class="menu-link" href="@Url.Action("CategoryAlbums", "Home", new { categoryName = category.Name })">@category.Name</a>
                }
            </div>
        </div>
        <a href="@Url.Action("RecentAlbums", "Home")" class="dropbtn">Ostatnio dodane</a>
        <a href="@Url.Action("Stats", "Home")" class="dropbtn">Statystyki</a>
        </div>


        <div style="vertical-align: top; width: 40%; display: inline-block; text-align:right; margin-bottom:1rem;">
            @using (Html.BeginForm("Search", "Home"))
            {
                @Html.TextBox("text", null, new { @class = "textbox", style = "padding: 5px 15px" })
                <a href="#" onclick="document.forms[0].submit();" class="dropbtn">Wyszukaj</a>
            }

    </div>
</nav>
</div>
</>
<div class="navbar_phone">
    <nav class="menu navbar" style="position:relative;">
        <div style="width:60%; display:inline-block;">
            <a class="dropbtn" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i></a>
            <div class="dropdown">
                <a href="#" class="dropbtn">
                    &#9776;
                </a>
                <div class="dropdown-content">
                    <div class="sub-dropdown">
                        <a href="#" class="dropbtn">Artyści</a>
                        <div class="sub-dropdown-content">
                            @foreach (var item in (IEnumerable<MusicCollection.Models.ArtistOrGroup>)ViewData["Artists"])
                            {
                                if (item.IsGroup)
                                {
                                    <!-- Link dla grup -->
                                    <a class="menu-link" href="@Url.Action("GroupAlbums", "Home", new { groupName = item.Name })">
                                        @item.Name
                                    </a>
                                }
                                else
                                {
                                    <!-- Link dla artystów -->
                                    <a class="menu-link" href="@Url.Action("ArtistAlbums", "Home", new { artistName = item.Name })">
                                        @item.Name
                                    </a>
                                }
                            }
                        </div>
                    </div>
                        <div class="sub-dropdown">
                        <a href="#" class="dropbtn">Typy</a>
                            <div class="sub-dropdown-content">
                                @foreach (var type in (IEnumerable<MusicCollection.Models.Type>)ViewData["Types"])
                                {
                                    <a class="menu-link" href="@Url.Action("TypeAlbums", "Home", new { typeName = type.Name })">@type.Name</a>
                                }
                            </div>
                        </div>
                            <div class="sub-dropdown">
                        <a href="#" class="dropbtn">Gatunki</a>
                                <div class="sub-dropdown-content">
                                    @foreach (var category in (IEnumerable<MusicCollection.Models.Category>)ViewData["Categories"])
                                    {
                                        <a class="menu-link" href="@Url.Action("CategoryAlbums", "Home", new { categoryName = category.Name })">@category.Name</a>
                                    }
                                </div>
                            </div>
            </div>

        </div>
            <a href="@Url.Action("RecentAlbums", "Home")" class="dropbtn"><i style="font-size:24px" class="fa">&#xf073;</i></a>
            <a href="@Url.Action("Stats", "Home")" class="dropbtn"><i style="font-size:24px" class="fa">&#xf080;</i></a>
        </div>


        <div style="vertical-align: top; width: 40%; display: inline-block; text-align:right;">
            <a href="@Url.Action("Search", "Home")" class="dropbtn"><i style="font-size:24px" class="fa">&#xf002;</i></a>

        </div>
    </nav>
</div>
<script>
    // Funkcja wywoływana po kliknięciu na obrazek
    function showEnlargedImage(imageSrc) {
        // Tworzenie kontenera obrazka powiększonego
        var enlargedImageContainer = document.createElement("div");
        enlargedImageContainer.classList.add("enlarged-image-container");

        // Tworzenie obrazka
        var enlargedImage = document.createElement("img");
        enlargedImage.src = imageSrc;
        enlargedImage.classList.add("enlarged-image");

        // Dodanie obrazka do kontenera
        enlargedImageContainer.appendChild(enlargedImage);

        // Dodanie kontenera do body strony
        document.body.appendChild(enlargedImageContainer);

        // Obsługa kliknięcia poza obrazkiem, aby go ukryć
        enlargedImageContainer.onclick = function () {
            document.body.removeChild(enlargedImageContainer);
        };
    }
</script>